.card
  cursor: pointer
  overflow: hidden
  padding: 5em 2em
  position: relative
  aspect-ratio: 1 / 1
  border-radius: .5em
  background: #FF6060

  &--overlay
    inset: 0
    color: white
    display: flex
    padding: 1.5em
    align-items: end
    line-height: 1.5
    font-weight: bold
    position: absolute
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, .3))
